@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #10b981;
  --color-background-light: #f9fafb;
  --color-background-dark: #111827;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --radius: 12px;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* Tailwind slate-300 */
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
  /* Tailwind slate-400 */
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #334155;
    /* Tailwind slate-700 */
    border: 3px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #475569;
    /* Tailwind slate-600 */
    border: 3px solid transparent;
    background-clip: padding-box;
  }
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #334155 transparent;
  }
}